body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1294px;
   height: 56px;
   z-index: 0;
}
#Shape1
{
   width: 1294px;
   height: 56px;
}
@media only screen and (max-width: 1293px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 0px;
   top: 0px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
